body {
    font-family: Arial, sans-serif;
    background-size:2000px;

    text-align: center;
}

.weather-container {
   
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    color:white;
    background-color:black;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

select {
    padding: 10px;
    font-size: 16px;
}

.city-info {
    text-align: center;
    margin-left: 20px;
}

#city-details {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .weather-container {
        width: 90%;
        margin: 20px auto;
    }
}
